<!DOCTYPE html>

<html>
    <head>
        <title>{{ title }} - Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <div class="header">
            <h1>{{  title  }} Page</h1>
        </div>
        
        <div class="sidebar">
            <a href="{{ url_for('home') }}">Home Page</a>
            <a href="{{ url_for('about') }}">About Page</a>
            <a href="{{ url_for('login') }}">Login Page</a>
            <a href="{{ url_for('register') }}">Register Page</a>
        </div>
        
        <div class="content">
            {% block body_content %}{% endblock %}
        </div>
    </body>
</html>
