{% extends 'layout.html' %}
{% block body_content %}
    <p>Update password</p>
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
	        <div class='form-group'>
                {{ form.current_password.label }}
                {{ form.current_password }}
                {% if form.current_password.errors %}
                    <div class="error">
                        {% for error in form.current_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form-group'>
                {{ form.new_password.label }}
                {{ form.new_password }}
                {% if form.new_password.errors %}
                    <div class="error">
                        {% for error in form.new_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
	        <div class='form-group'>
                {{ form.confirm_password.label }}
                {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    <div class="error">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form-group'>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}
